
.add-todo {
    display: flex;
    margin-bottom: 20px;
}

.task-input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #67ba56;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.task-input:focus {
    border-color: #21c63d;
    box-shadow: 0 0 0 0.2rem rgba(18, 181, 80, 0.25);
}

.task-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #19d87c;
    border: 1px solid #1bb16e;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.2s;
}

.task-button:hover {
    background-color: #2ab021;
    border-color: #20a546;
}

.task-button:active {
    background-color: #1db04e;
    border-color: #2cc951;
}

@media (max-width: 480px) {
    .add-todo {
        flex-direction: column;
    }

    .task-input {
        border-radius: 4px;
        margin-bottom: 10px;
    }

    .task-button {
        border-radius: 4px;
    }
}